[defaults]
inventory = aws_ec2.yml

#[ssh_connection]
#ssh_args = -o "ProxyCommand aws ssm start-session --target %h"
#ssh_args = -o "ProxyCommand sh -c \"aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'\""

[inventory]
enable_plugins = aws_ec2