[client]
socket=/var/lib/mysql/mysql.sock

[mysqld]
server-id=1
datadir={{ percona__mysql_datadir }}
socket=/var/lib/mysql/mysql.sock
port        = {{ percona__listen_port }}

log-bin
log_slave_updates
expire_logs_days=7

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

{# 
# Percona Server template configuration

[client]
port        = {{ percona__listen_port }}
socket      = /var/lib/mysql/mysql.sock


[mysqld]
user        = mysql
socket      = /var/lib/mysql/mysql.sock
pid-file    = /var/run/mysqld/mysqld.pid
port        = {{ percona__listen_port }}
datadir     = {{ percona__mysql_datadir }}
basedir     = /usr
tmpdir      = /tmp

{% if  percona__mysql_version is version('8.0', '>=') and mysql_disable_log_bin|bool %}
disable_log_bin
{% endif %}
{% if mysql_sql_mode is defined %}
sql_mode={{ mysql_sql_mode }}
{% endif %}
{% if mysql_default_authentication_plugin is defined and percona__mysql_version is version('5.7', '>=') %}
default_authentication_plugin={{ mysql_default_authentication_plugin }}
{% endif %}

{% if percona__cluster_mode %}
# Enable the Galera plugin
wsrep_provider=/usr/lib64/galera/libgalera_smm.so

# Galera cluster configuration
wsrep_cluster_name={{ percona__cluster_name }}
wsrep_cluster_address=gcomm://{{ percona__cluster_nodes | join(',')}}

# Galera node configuration
wsrep_node_name={{ percona__cluster_node_name }}
wsrep_node_address={{ percona__cluster_node_host }}

# Galera synchronous replication
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth={{ percona__cluster_sst_username }}:{{ percona__cluster_sst_password }}

# Other options
innodb_autoinc_lock_mode=2
{% endif %} #}
