# {{ ansible_managed }}
[mysqld]
user=mysql
datadir=/var/lib/mysql
skip_name_resolve=1
slow_query_log=0
character_set_server=utf8
collation_server=utf8_general_ci

default_storage_engine=InnoDB
innodb_strict_mode=on
innodb_autoinc_lock_mode=2

binlog_format=ROW
pxc_strict_mode=ENFORCING

wsrep_provider=/usr/lib64/galera3/libgalera_smm.so

wsrep_node_address={{ percona__bind_address }}
wsrep_node_name={{ ansible_hostname }}
wsrep_cluster_name={{ percona__cluster_name }}
wsrep_cluster_address={{ percona__wsrep_cluster_address }}

wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth={{ percona__sst_user }}:{{ percona__sst_password }}
