[{{ item.pool_name }}]
user = {{ item.pool_user }}
group = {{ item.pool_group }}
listen = {{ item.listen_address }}
listen.mode = 0660

php_admin_value[error_log] = /var/log/fpm-php.{{ pool_name }}.log
php_admin_flag[log_errors] = on

{% if item.allowed_clients != "" %}
; Allow access from specific client IP addresses
; Replace with a list of allowed client IP addresses
; Separate multiple IP addresses with a space
listen.allowed_clients = {{ item.allowed_clients }}
{% endif %}
pm = {{ item.pm_mode }}
pm.max_children = {{ item.pm_max_children }}
pm.start_servers = {{ item.pm_start_servers }}
pm.min_spare_servers = {{ item.pm_min_spare_servers }}
pm.max_spare_servers = {{ item.pm_max_spare_servers }}
pm.max_requests = {{ item.pm_max_requests }}
