#!/usr/bin/env groovy

import jenkins.model.Jenkins
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.CredentialsScope
import com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey
import com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl

instance = Jenkins.instance
domain = Domain.global()

store = instance.getExtensionList("com.cloudbees.plugins.credentials.SystemCredentialsProvider")[0].getStore()

{% for ssh_cred in jenkins__ssh_credentials %}
privateKey = new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource("{{ ssh_cred.private_key }}")
sshKey = new BasicSSHUserPrivateKey(
  CredentialsScope.GLOBAL,
  "{{ ssh_cred.id }}",
  "{{ ssh_cred.username }}",
  privateKey,
  "{{ ssh_cred.passphrase | default('') }}",
  "{{ ssh_cred.description | default('') }}"
)
store.addCredentials(domain, sshKey)
{% endfor %}

{% for cred in jenkins__username_password_credentials %}
usernameAndPassword = new UsernamePasswordCredentialsImpl(
  CredentialsScope.GLOBAL,
  "{{ cred.id }}",
  "{{ cred.description | default('') }}",
  "{{ cred.username }}",
  "{{ cred.password }}"
)
store.addCredentials(domain, usernameAndPassword)
{% endfor %}

{% for credential in jenkins__secret_text_credentials %}
secret = Secret.fromString("{{ credential['text'] }}")
secretText = new StringCredentialsImpl(
  CredentialsScope.GLOBAL,
  "{{ credential['id'] }}",
  "{{ credential['description'] | default('') }}",
  secret
)

store.addCredentials(domain, secretText)
{% endfor %}