jenkins:
  agentProtocols:
    - "JNLP4-connect"
    - "Ping"
  systemMessage: "<h2>Jenkins Piotr Kochan</h2><p>To jest <strong>automatycznie</strong> wygenerowana instancja Jenkinsa.</p>"
  numExecutors: {{ jenkins__numExecutors }}
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins__admin_username }}"
          password: "{{ jenkins__admin_password }}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: {{ jenkins__anonymous_read | bool }}
security:
  gitHostKeyVerificationConfiguration:
    sshHostKeyVerificationStrategy: "knownHostsFileVerificationStrategy"
  globalJobDslSecurityConfiguration:
    useScriptSecurity: false
  scriptApproval:
    approvedSignatures:
{% for signature in jenkins__security_approved_signatures %}
    - {{ signature }}
{% endfor %}
{% if jenkins__job_scripts | length %}
{% for script in jenkins__job_scripts %}
jobs:
  - script: >
      {{ script | indent(width=6) }}
{% endfor %}
{% endif %}

{# jobs:
  - script: >
    multibranchPipelineJob('example-2') {
      branchSources {
        branchSource {
          source {
            git {
              remote('https://git-codecommit.eu-central-1.amazonaws.com/v1/repos/ansible-repository')
              credentialsId('git_repository_ssh_key')
            }
          }
          strategy {
            namedExceptionsBranchPropertyStrategy {          
              defaultProperties {
                noTriggerBranchProperty()
                ansicolor('xterm')
              }
              namedExceptions {
                named {
                  name('jenkins-ignore')
                }
              }
            }
          }
        }
      }
    } #}