configuration-as-code:1569.vb_72405b_80249
job-dsl:1.81
workflow-job:1254.v3f64639b_11dd
workflow-multibranch:716.vc692a_e52371b_
ansible:1.1
git:4.14.3
git-client:3.13.1
aws-codecommit-jobs:0.3.0
pipeline-model-definition:2.2118.v31fd5b_9944b_5
ansicolor:1.0.2
pam-auth:1.7
matrix-auth:3.0.1
matrix-project:772.v494f19991984
antisamy-markup-formatter:antisamy-markup-formatter