jenkins:
  systemMessage: "Welcome to the Jenkins instance"
  numExecutors: {{ numExecutors | default(2) }}
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins_admin_username }}"
          password: "{{ jenkins_admin_password }}"
  authorizationStrategy: loggedInUsersCanDoAnything
jobs:
  - script: >
    multibranchPipelineJob('example-2') {
      branchSources {
        branchSource {
          source {
            git {
              remote('https://git-codecommit.eu-central-1.amazonaws.com/v1/repos/ansible-repository')
              credentialsId('git_repository_ssh_key')
            }
          }
          strategy {
            namedExceptionsBranchPropertyStrategy {          
              defaultProperties {
                noTriggerBranchProperty()
                ansicolor('xterm')
              }
              namedExceptions {
                named {
                  name('jenkins-ignore')
                }
              }
            }
          }
        }
      }
    }