configuration-as-code:1569.vb_72405b_80249
ws-cleanup:0.40
pipeline-stage-view:2.22
git:4.10.3
ssh-slaves:1.33.0
timestamper:1.17
workflow-multibranch:711.vdfef37cda_816
javax-activation-api:1.2.0-2
sshd:3.1.0
matrix-auth:3.0.1
pipeline-input-step:446.vf27b_0b_83500e
gradle:1.38
script-security:1138.v8e727069a_025
pipeline-build-step:2.16
branch-api:2.7.0
build-timeout:1.20
cloudbees-folder:6.708.ve61636eb_65a_5
ace-editor:1.1
scm-api:595.vd5a_df5eb_0e39
ssh-credentials:1.19