<VirtualHost {{ apache__listen_ip }}:{{ item.listen_port | default(apache__listen_port) }}>
{% if item.servername is defined %}
  ServerName {{ item.servername }}
{% endif %}
{% if item.serveralias is defined %}
  ServerAlias {{ item.serveralias }}
{% endif %}
{% if item.serveradmin is defined %}
  ServerAdmin {{ item.serveradmin }}
{% endif %}
{% if item.documentroot is defined %}
  DocumentRoot "{{ item.documentroot }}"
{% endif %}

{% if item.documentroot is defined %}
  <Directory "{{ item.documentroot }}">
    AllowOverride {{ item.allow_override | default(apache_allow_override) }}
    Require all granted
  </Directory>
{% endif %}

{% if item.extra_parameters is defined %}
{{ item.extra_parameters | indent(width=2, first=True) }}
{% endif %}
</VirtualHost>
